@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    overflow-x: hidden;
  }
  body {
    @apply bg-surface text-onSurface;
    overflow-x: hidden;
    width: 100%;
  }
}